<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MilkVRLinks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MilkVRLinks.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://192.168.1.2/vr/videos</value>
      </setting>
      <setting name="SearchPattern" serializeAs="String">
        <value>*.m*</value>
      </setting>
    </MilkVRLinks.Properties.Settings>
  </applicationSettings>
</configuration>